<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="okosama.app"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="8" />
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:icon="@drawable/applogo"
        android:label="@string/app_name"
        android:launchMode="singleInstance" >
        <activity
            android:name="okosama.app.OkosamaMediaPlayerActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name" android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                
                <category android:name="android.intent.category.LAUNCHER" />            
            
            </intent-filter>
        </activity>
        <service android:exported="false" android:name=".service.MediaPlaybackService"></service>
        <activity android:name="DeleteItems"></activity>
		<activity
		    android:name="okosama.app.TweetActivity"
		    android:windowSoftInputMode="adjustResize"
		    android:launchMode="singleTask" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
 		        <category android:name="android.intent.category.DEFAULT" />
		        <category android:name="android.intent.category.BROWSABLE" />
		
		        <data
		            android:host="twitter"
		            android:scheme="yuma25689" />
		    </intent-filter>    
		</activity>
        <receiver android:name="okosama.app.service.MediaButtonIntentReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
                <action android:name="android.media.AUDIO_BECOMING_NOISY" />
            </intent-filter>
        </receiver>		
    </application>

</manifest>